.calculations-panel {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  height: 7.3125rem;
  overflow-x: hidden;
  overflow-y: auto;
}
