.layout {
  padding: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #ffa1a1 0%, #ff7b7b 100%);

  @media (max-width: 425px) {
    padding: 1.25rem;
  }
}
