.calculator {
  position: relative;
  background: rgb(255, 255, 255, 0.2);
  border-radius: 1.125rem;
  padding: 2.375rem 1.9375rem;
  height: 100%;
  width: 100%;
  max-height: 63.75rem;
  max-width: 38.5rem;

  &__content {
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom right, #28518e 0%, #3a77d1 100%);
    border-radius: 1.125rem;
    padding: 2.75rem 3rem 2.75rem 2.875rem;
    margin: 2.375rem 1.9375rem;

    &__line {
      border: 0.125rem solid #fff;
      opacity: 0.35;
      margin: 1.125rem 0 2.3125rem;
    }
  }
}
